@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

:root{
    --title-font: 'Skranji', cursive;
    --text-font: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    --header-color: gray;
    --main-color: white;
    --background-color: #1D1E28;
}

*{
    -webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-duration:var(--animate-duration);animation-duration:var(--animate-duration);-webkit-animation-fill-mode:both;animation-fill-mode:both;
}

body, html{
    font-family: sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    margin:0;
    display:flex;
    flex-direction: column;
    font-family: var(--text-font);
    background-color: var(--background-color);
}

/* HEADER */

header{
    min-height:50px;
    background:var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    font-family: var(--title-font);
    animation-name: pulse
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

header li{
    animation-name: backInDown
}

/* MAIN */

main{
    flex:1
}

main .banner{
    width: 100%;
    height: 100vh;
    background: url("https://img.itch.zone/aW1nLzcwMzQ5MjMuanBn/original/Eiyf9K.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .banner div{
    position: absolute;
    color: white;
    width: 50%;
    padding: 50px;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
             1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

main article{
    width: 50%;
    height: fit-content;
    margin: 50px auto;
    padding: 50px;
    background: lightslategray;
    text-align: center;
    color: black;
    font-size: 3em;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    flex-direction: column;
}

main article .list{
    font-size: 30px;
}

main article .list .item{
    font-size: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

main article .list .item div{
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

/* FOOTER */

footer{
    height: 30vh;
    position: relative;
    background-color: var(--background-color);
    background-image: url(https://cdn.glitch.com/ed7633c4-e7b0-47db-b62e-dece3ddd7c25%2Fwavy-light-by-nouridio.svg?v=1618352570829) !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

footer p{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    vertical-align: middle;
}

/* ELEMENTS */
.button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.3em 1.5em;
    border: mediumspringgreen solid 0.15em;
    border-radius: 0.25em;
    color: mediumspringgreen;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}
.button p {
    z-index: 1;
}
.button:hover {
    color: white;
}
.button:active {
    border-color: teal;
}
.button::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: mediumspringgreen;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}
.button::before {
    left: 0;
    transform: translateX(-8em);
}
.button::after {
    right: 0;
    transform: translateX(8em);
}
.button:hover:before {
    transform: translateX(-1em);
}
.button:hover:after {
    transform: translateX(1em);
}
.button:active:before, .button:active:after {
    background: teal;
}

.download {
    width: 200px;
    height: 70px;
    background: black;
    float: left;
    border-radius: 5px;
    position: relative;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    font-size: 20px;
  }
  
  .download > i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  
  .df,
  .dfn {
    position: absolute;
    left: 70px;
  }
  
  .df {
    top: 20px;
    font-size: .68em;
  }
  
  .dfn {
    top: 33px;
    font-size: 1.08em;
  }
  
  .download:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .flex-download{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
/* RESPONSIVE */

@media only screen and (max-width: 1154px) {
    header{
        flex-direction: column;
    }

    header ul{
        display: none;
    }

    main article{
        width: 50%;
        word-wrap: break-word
    }

    footer p{
        flex-direction: column;
    }

    main article h3{
        font-size: 20px;
    }

    main article{
        font-size: 15px;
    }

    main article{
        font-size: 15px;
    }

    .flex-download{
        flex-direction: column;
    }

    header h1{
        text-align: center;
    }

    .banner div{
        padding: 20px !important;
    }
}